{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}
{% block post_content %}
{% if validlink %}
<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Đặt lại mật khẩu</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <p><input type="submit" class="btn btn-outline-info" value="Đổi mật khẩu" /></p>
        </div>
    </form>
</div>
{% else %}
<p>The password reset link was invalid, possibly because it has
 already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}
